*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: white;
}

#ulist{
    display: flex;

}

#ulist li{
    list-style: none;
    margin: 31px 50px;
}

#ulist li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#ulist li a:hover{
    text-decoration: underline;
    color: rgb(130, 123, 123);
}

#navbar{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 91px;
    box-shadow: 1px 1px 1px grey;
}

#navbar img{
    width: 243px;
    height: 253px;
    margin: -84px 0px;
}

#red{
    background-color: red;
    width: 100%;
    height: 52px;
}

main{
    width: 100%;
    height: 602px;
    background-image: url(https://images.unsplash.com/photo-1523480717984-24cba35ae1ef?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8ZG9nJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: 96rem;
}

#image-container{
    padding: 141px 64px;
}
#image-container h1{
    font-size: 49px;
}

#container-1{
    width: 100%;
    height: 34rem;
    border: 2px solid black;
    text-align: center;
    padding: 82px;
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
}

.card{
    height: 287px;
    width: 271px;
    border: 2px solid black;
    margin: 0px 70px 0px 70px;
    border-radius: 16px;
    background-color: #464646;
}

#card-container{
    padding-top: 94px;
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 0px;
}

.card img{
    width: 100%;
    height: 100%;
    filter: brightness(100%);
}

.card:hover{
    height: 300px;
    width: 284px;
}

#container-1 h1{
    color: white;
    font-size: 49px;
}

#image-container span{
    color: red
}
